<%= render 'layouts/navbar'%>
<div class="container emp-profile mt-5">
  <% flash.each do |type, messages| %>
    <div class="alert <%= flash_class(type) %>">
      <% Array(messages).each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  <% end %>
  <h2 class="fw-bold mb-5 text-center">Edit Profile</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form| %>
    <%= render 'users/form', form: form %>
    <%= form.button 'Update Profile', class: 'btn btn-primary mb-4', type: 'submit' %>
  <% end %>
</div>

<%= render 'layouts/footer'%>
