<%= render 'layouts/navbar' %>

<!-- Section: Design Block -->
<section class="">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
  background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
    height: 300px;
  "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
    margin-top: -100px;
    margin-bottom: 50px;
    background: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(30px);
  ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <% flash.each do |type, messages| %>
            <div class="alert <%= flash_class(type) %>">
              <% Array(messages).each do |message| %>
                <li><%= message %></li>
              <% end %>
            </div>
          <% end %>
          <h2 class="fw-bold mb-5 text-center">Sign up now</h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
            <%= render 'user/form', form: form %>
            <%= form.button 'Sign up', class: 'btn btn-primary mb-4', type: 'submit' %>
            <span class="float-right">Already have an Account? <a href="<%= new_user_session_path %>" class="text-primary">Sign in</a> Now</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->

<%= render 'layouts/footer' %>
