<%= render 'layouts/navbar' %>

<!-- Section: Design Block -->
<section class="">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
  background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
    height: 300px;
  "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
    margin-top: -100px;
    margin-bottom: 50px;
    background: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(30px);
  ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <% flash.each do |type, messages| %>
            <div class="alert <%= flash_class(type) %>">
              <% Array(messages).each do |message| %>
                <li><%= message %></li>
              <% end %>
            </div>
          <% end %>
          <h2 class="fw-bold mb-5 text-center">Login in</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <%= f.label :email%>
                  <%= f.email_field :email, class: "form-control", placeholder: "Name your email", autofocus: true  %>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <%= f.label :password %>
                  <%= f.password_field :password, class: "form-control", placeholder: "Choose a password" %>
                </div>
              </div>

              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <a href="<%= new_user_password_path %>" class="text-primary">Forget password?</a>
                </div>
              </div>
            </div>

            <!-- Submit button -->
            <%= f.submit "Login", class: "btn btn-primary btn-sm" %>

            <span class="float-right">Don't have an Account? <a href="<%= new_user_registration_path %>" class="text-primary">Sign up</a> Now</span>
          <% end %>
        </div>
        <div class="text-center">
          <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, remote: true, data: { turbo: "false" } do %>
            <%= image_tag 'https://onymos.com/wp-content/uploads/2020/10/google-signin-button.png', alt: 'Login with Google', style: 'width:300px;' %>
          <% end %>

          <span class="my-3">or</span>
          <%= button_to user_facebook_omniauth_authorize_path, method: :post, remote: true, data: { turbo: "false" } do %>
            <%= image_tag 'https://i.stack.imgur.com/oL5c2.png', alt: 'Login with Google', style: 'width:300px;' %>
          <% end %>

          <span class="my-3">or</span>
          <%= button_to user_github_omniauth_authorize_path, method: :post, remote: true, data: { turbo: "false" } do %>
            <%= image_tag 'https://user-images.githubusercontent.com/9599/61177475-2ddce800-a58b-11e9-9bf6-aa4794a99f2a.png', alt: 'Login with Google', style: 'width:300px;' %>
          <% end %>
          <%#= button_to "Continue with Facebook", user_facebook_omniauth_authorize_path, method: :post, data: { turbo: "false" }, class: "btn btn-primary btn-sm", html: { class: "fa-brands fa-google", 'aria-hidden' => true } %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->

<%= render 'layouts/footer' %>
