<!-- Section: Design Block -->
<section class="">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
  background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
    height: 300px;
  "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
  margin-top: -100px;
    background: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(30px);
  ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <% flash.each do |type, messages| %>
            <div class="alert <%= flash_class(type) %>">
              <% Array(messages).each do |message| %>
                <li><%= message %></li>
              <% end %>
            </div>
          <% end %>
          <h2 class="fw-bold mb-5 text-center">Reset Password</h2>
          <%= form_with(:html => {class: "form-horizontal", role: "form"}, url: password_reset_path, method: :post) do |f| %>
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <%= f.label :email%>
                  <%= f.email_field :email, class: "form-control", placeholder: "Name your email", autofocus: true  %>
                </div>
              </div>
            </div>

            <!-- Submit button -->
            <%= f.submit "Reset Password", class: "btn btn-primary btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->